force-app/main/default/flows/Add_Product_to_a_New_Opportunity_by_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_New_OpportunityProduct</name>
        <label>Assign New OpportunityProduct</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProduct_VAR.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct_VAR.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book_Entry_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct_VAR.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct_VAR.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book_Entry_ID.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_this_a_DX_Product</name>
        <label>Is this a DX Product?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_DS_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Standard_Pricebook</targetReference>
            </connector>
            <label>Yes - DS Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Products_Status</name>
        <label>Products Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Price_Book_Entry_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_OpportunityProduct</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Product</name>
        <dataType>String</dataType>
        <expression>if(
CONTAINS(UPPER(SUBSTITUTE({!$Record.Name}, &quot; &quot;, &quot;&quot;)), &quot;DXAGENCY&quot;),
&quot;DXAgency&quot;,
if(
CONTAINS(UPPER(SUBSTITUTE({!$Record.Name}, &quot; &quot;, &quot;&quot;)), &quot;DXCOMPLIANCE&quot;),
&quot;DXCompliance&quot;,
if(
CONTAINS(UPPER(SUBSTITUTE({!$Record.Name}, &quot; &quot;, &quot;&quot;)), &quot;DXDOCS&quot;),
&quot;DXDocs&quot;,
if(
CONTAINS(UPPER(SUBSTITUTE({!$Record.Name}, &quot; &quot;, &quot;&quot;)), &quot;DXOPEN&quot;),
&quot;DXOpen&quot;,
if(
CONTAINS(UPPER(SUBSTITUTE({!$Record.Name}, &quot; &quot;, &quot;&quot;)), &quot;DXSYNDICATE&quot;),
&quot;DXSyndicate&quot;,
if(
CONTAINS(UPPER(SUBSTITUTE({!$Record.Name}, &quot; &quot;, &quot;&quot;)), &quot;SYNDTRAK&quot;),
&quot;SyndTrak&quot;,
if(
CONTAINS(UPPER(SUBSTITUTE({!$Record.Name}, &quot; &quot;, &quot;&quot;)), &quot;VERSANA&quot;),
&quot;Versana&quot;,
if(
CONTAINS(UPPER(SUBSTITUTE({!$Record.Name}, &quot; &quot;, &quot;&quot;)), &quot;DXCDA&quot;),
&quot;DXCDA&quot;,
if(
CONTAINS(UPPER(SUBSTITUTE({!$Record.Name}, &quot; &quot;, &quot;&quot;)), &quot;DXVALUE&quot;),
&quot;DXValue&quot;,
if(
CONTAINS(UPPER(SUBSTITUTE({!$Record.Name}, &quot; &quot;, &quot;&quot;)), &quot;DXSCORE&quot;),
&quot;DXScore&quot;,
if(
CONTAINS(UPPER(SUBSTITUTE({!$Record.Name}, &quot; &quot;, &quot;&quot;)), &quot;DXMARK&quot;),
&quot;DXMark&quot;,
NULL)))))))))))</expression>
    </formulas>
    <interviewLabel>Add Product to a New Opportunity by Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Product to a New Opportunity by Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Opportunity_Product</name>
        <label>Create new Opportunity Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesUpsert>true</doesUpsert>
        <inputReference>OpportunityProduct_VAR</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Book_Entry_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Entry_ID</name>
        <label>Get Price Book Entry ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Products_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_this_a_DX_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>DX</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityProduct_VAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
